/*font-family: 'Squada One', cursive;
font-family: 'Sriracha', cursive;*/

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Sriracha', cursive;
}

.sidebar {
	position: fixed;
	/*left: -240px;*/
	left: 0px;
	width: 240px;
	height: 100%;
	background: #353535;
	transition: all .5s ease;
	border-right: 5px solid #d7773b;
}

.logo {
	user-select: none;
	height: 140px;
	width: 140px;
	display: block;
	margin: 25px auto;
	border-radius: 100%;
	margin-bottom: 16px;
	border: 2px solid #d7773b;
}

.sidebar a {
	display: block;
	color: white;
	height: 65px;
	width: 100%
	line-height: 65px;
	padding: 17px;
	border-bottom: 1px solid rgba(255,255,255,.1);
	border-top: 1px solid black;
	border-left: 5px solid transparent;
	box-sizing: border-box;
	transition: all .5s ease;
	font-family: 'Squada One', cursive;
}

a:hover, a.active {
	border-left: 5px solid #b93632;
	color: #b93632;
}

.sidebar a i {
	font-size: 23px;
	margin-right: 16px;
}

.sidebar a span {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.container {
	margin-left: 240px;
	transition: all .5s ease;
}

#check {
	display: none;
}

label #btn, label #cancel {
	opacity: 0.6;
	position: absolute;
	cursor: pointer;
	background: #262626;
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 45px;
	color: white;
	font-size: 29px;
	border-radius: 5px;
	margin: 15px 260px;
	border: 1px solid #262626;
	transition: all .5s ease;
	position: fixed;

}

label #cancel {
	opacity: 0;
	visibility: hidden;
}

#check:checked ~ label #btn {
	margin-left: 30px;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
}

#check:checked ~ label #cancel {
	margin-left: 25px;
	opacity: 0.6;
	visibility: visible;
	transition: all .5s ease;
	position: fixed;
}

#check:checked ~ .sidebar {
	left: -240px;
	transition: all .5s ease;
}

#check:checked ~ .container {
	margin-left: 0px;
	transition: all .5s ease;
}

/*Sections*/
html {
	scroll-behavior: smooth;
}
.profile {
	min-height: 100vh;
	/*background-image: url(./../images/ProfileBG.jpg);*/
	background-image: radial-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./../images/BGprofile.jpeg");
	background-size: 100% 100%;
/*	background-attachment: fixed;*/
	background-repeat: no-repeat;	 
}
.box1 {
	color: #D8D8D8;
	position: absolute;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 15%;
	font-size: 33px;
	text-align: center;
}

.skills {
	min-height: 100vh;
	background-color: #FFFFF9;
}

div .h1Skills {
	color: #212120;
	font-size: 50px;
	text-align: center;	
	text-shadow: 5px 5px 8px #7A7A77;
}

.skillsLogo {
	margin-top: 50px;
	margin-left: 50px;

}

.skillsLogo img {
	height: 100px;
	width: 100px;
	margin: 20px 10px 20px 10px;

}

.projects {
	min-height: 100vh;
	background-color: #212121;
}

div .h1Projects {
	color: #D8D8D8;
	font-size: 50px;
	text-align: center;
}

.box3 h5 {
	color: #D8D8D8;
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
}

.box3 img {
	width: 700px;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	border-radius: 20px;
}

.box3 p {
	color: #D8D8D8;
	text-align: center;
	margin-top: 7px;
	margin-left: 15px;
	margin-right: 15px;

}


.contacts {
	min-height: 90vh;
	
}

.footer {
	background-color: #212121;
	color: #D8D8D8;
	text-align: center;
	height: 10vh
}
.footer p {
	padding: 15px;
}


/*Media query*/

@media (max-width: 860px) {
	.sidebar {
		height: 100%;
		width: 50px;
		left: 0;
		/*margin: 100px 0px;*/
	}
	.logo, #btn, #cancel {
		display: none;
	}
	span {
		position: absolute;
		margin-left: 23px;
		margin-top: 23px;
		opacity: 0;
		visibility: hidden;
	}
	.sidebar a i {
		margin-left: -7px;
		margin-top: 0px;
	}
	a:hover {
		width: 200px;
		background: inherit;
	}
	.sidebar a:hover span {
		opacity: 1;
		visibility: visible;
		margin-top: 2px;
	}
	.container {
		margin-left: 50px;
	}
	.profile {
		/*background-position: center center;
		background-attachment: fixed;*/
	}
	.box1 {
		color: #D8D8D8;
		position: absolute;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 120px;
		font-size: 25px;
		text-align: center;
	}
	.skillsLogo img {
		height: 50px;
		margin: 10px 0px 10px 0px;
		width: 50px;
	}

	.box3 img {
		width: 280px;
		display: block;
	 	margin-left: auto;
	  	margin-right: auto;
	  	border-radius: 20px;
	}

	.footer p {
		padding: 4px;

	}

}